body {
    margin: 20px 40px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
    display: flex;
    height: 60px;
    background-color: green;
    margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
    flex: 1;
    background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
    flex: 1;
    background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
}

.blueExample2 {
    width: 80px;
    background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */
/* General styles */
.wrapper{
    justify-content: space-between;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.orange{
    background-color: #ffa500;
}

/* 3rd block */

.wrapper:nth-of-type(3) .red{
    width: 80px;
}

.wrapper:nth-of-type(3) .blue{
    width: 80px;
}

/* 4th block */

.wrapper:nth-of-type(4) .red{
    flex: 1;
}

.wrapper:nth-of-type(4) .blue{
    width: 80px;
}

/* 5th block */

.wrapper:nth-of-type(5){
    align-items: center;
    justify-content: center;
}

.wrapper:nth-of-type(5) .red{
    width: 40px;
    height: 40px;
}

/* 6th block */

.wrapper:nth-of-type(6){
    background-color: red;
    justify-content: center;
}

.wrapper:nth-of-type(6) .blue{
    width: 80px;
}

/* 7th block */

.wrapper:nth-of-type(7){
    align-items: center;
    justify-content: flex-start;
}

.wrapper:nth-of-type(7){
    background-color: blue;
}

.wrapper:nth-of-type(7) .red{
    width: 80px;
    height: 60px;
}

.wrapper:nth-of-type(7) .green{
    flex: 1;
    height: 20px;
}

/* 8th block */

.wrapper:nth-of-type(8){
    justify-content: space-between;
}

.wrapper:nth-of-type(8) .orange{
    width: 80px;
}

/* 9th block */

.wrapper:nth-of-type(9){
    justify-content: space-between;
}

.wrapper:nth-of-type(9) .orange{
    width: calc(100% / 5 - 20px);
}